<table mat-table [dataSource]="dataSource" matSort>
  <div *ngFor="let header of tableHeaders">
    <ng-container [matColumnDef]="header.prop">
      <th mat-header-cell [id]="header.id" *matHeaderCellDef mat-sort-header>{{ header.label }}</th>
      <td mat-cell *matCellDef="let inhabitant" [ngSwitch]="header.prop" (click)="viewInhabitant(inhabitant)">
        <ng-container *ngSwitchCase="TableHeadersProps.Thumbnail">
          <img alt="avatar" [src]="inhabitant.thumbnail" class="avatar-pic" />
        </ng-container>
        <ng-container *ngSwitchCase="TableHeadersProps.HairColor">
          <div
            class="color-block"
            [ngStyle]="{'background-color': ColorsValues[inhabitant[header.prop]]}"
            [matTooltip]="inhabitant[header.prop]"
            matTooltipPosition="right"></div>
        </ng-container>
        <ng-container *ngSwitchCase="TableHeadersProps.Weight">~{{ inhabitant[header.prop] | number :'1.1-2' }}
        </ng-container>
        <ng-container *ngSwitchCase="TableHeadersProps.Height">~{{ inhabitant[header.prop] | number :'1.1-2' }}
        </ng-container>
        <ng-container *ngSwitchCase="TableHeadersProps.Friends">
          <span
            [matTooltip]="inhabitant[header.prop]"
            matTooltipPosition="above"
            [ngPlural]="inhabitant[header.prop].length"
            *ngIf="inhabitant[header.prop].length;else noFriends">
            {{ inhabitant[header.prop].length }}
            <ng-template ngPluralCase="one"> друг</ng-template>
            <ng-template ngPluralCase="few"> другa</ng-template>
            <ng-template ngPluralCase="many"> друзей</ng-template>
          </span>
          <ng-template #noFriends>-</ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="TableHeadersProps.Professions">
          <span
            [matTooltip]="inhabitant[header.prop]"
            matTooltipPosition="above"
            [ngPlural]="inhabitant[header.prop].length"
            *ngIf="inhabitant[header.prop].length;else noProfessions">
            {{ inhabitant[header.prop].length }}
            <ng-template ngPluralCase="one"> профессия</ng-template>
            <ng-template ngPluralCase="few"> профессии</ng-template>
            <ng-template ngPluralCase="many"> профессий</ng-template>
          </span>
          <ng-template #noProfessions>-</ng-template>
        </ng-container>
        <ng-container *ngSwitchDefault>{{ inhabitant[header.prop] }}</ng-container>
      </td>
    </ng-container>
  </div>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="row-data"></tr>
</table>
<div class="paginator-wrapper">
  <mat-paginator #paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
    showFirstLastButtons>
  </mat-paginator>
</div>